<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/moviecalendar.css">


</head>
<body>
<h1>Movie Search</h1>
<input type="text" id="search-input" placeholder="Search for a movie...">
<div id="movieDropdown"></div>

<h2>Movie Details</h2>
<div id="movieDetailsPopup" class="movie-details-popup">
    <h2 id="movieTitle"></h2>
    <p id="movieRuntime"></p>
    <p id="movieAgeLimit"></p>
    <p id="movieSummary"></p>
    <button id="closeButton">Close</button>
</div>


<div class="wrapper">
    <div class="container-calendar">
        <h3 id="monthAndYear"></h3>
        <div class="button-container-calendar">
            <button id="previous" onclick="previous()">&#8249;</button>
            <button id="next" onclick="next()">&#8250;</button>
        </div>
        <table class="table-calendar" id="calendar" data-lang="en">
            <thead id="thead-month"></thead>
            <tbody id="calendar-body"></tbody>
        </table>
        <div class="footer-container-calendar">
            <label for="month">Jump To: </label>
            <select id="month" onchange="jump()">
                <option value=0>Jan</option>
                <option value=1>Feb</option>
                <option value=2>Mar</option>
                <option value=3>Apr</option>
                <option value=4>May</option>
                <option value=5>Jun</option>
                <option value=6>Jul</option>
                <option value=7>Aug</option>
                <option value=8>Sep</option>
                <option value=9>Oct</option>
                <option value=10>Nov</option>
                <option value=11>Dec</option>
            </select>
            <select id="year" onchange="jump()"></select>
        </div>
    </div>
</div>

<script src="/js/movieCalendar.js"></script>
</body>
</html>
