<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login site - KinoXP</title>
  <link rel="stylesheet" href="../static/css/login.css">

</head>
<body>
<div class="container">
  <h1>KinoXP</h1>
  <h2>Corporate portal</h2>
  <div class="login-form">
    <h2>Login</h2>
    <form id="login-form" method="post">
    <input type="text" id="username" name="username" placeholder="Username" required><br>
      <input type="password" id="password" name="password" placeholder="Password" required><br>
      <button type="submit">Login</button>
    </form>
    <div id="message"></div>
  </div>
  <img class="logo-img" src="../static/img/Logo.png" alt="KinoXP Logo">
</div>
<script src="../static/js/login.js"></script> <!-- Reference to custom js styling -->
<script>
  console.log("Login for employees");

  //ensure that the JavaScript code runs only after the HTML document has been fully loaded and parsed.
  document.addEventListener("DOMContentLoaded", function () {
    const loginForm = document.getElementById("login-form");
    const usernameInput = document.getElementById("username"); // Assuming the input has the id "username"
    const passwordInput = document.getElementById("password"); // Assuming the input has the id "password"

    loginForm.addEventListener('submit', function () {
      const username = usernameInput.value;
      const password = passwordInput.value;

        fetch("/api/employees/login", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            username: username, // Use the variable value, not the string "username"
            password: password // Use the variable value, not the string "password"
          })
        })
                .then(response => {
                  if (response.ok) {
                    return response.json();
                  }
                  throw new Error('Network response was not ok.');
                })
                .then(data => {
                  if (data) { // Tjek for et gyldigt brugerobjekt
                    window.sessionStorage.setItem('employee', JSON.stringify(data));
                    window.location.href = 'html/homepage.html';
                  } else {
                    alert('Login mislykkedes. Prøv igen.');
                  }
                })
                .catch(error => {
                  console.error('Fejl:', error); // Log den specifikke fejlmeddelelse
                  alert('Login mislykkedes. Prøv igen.'); // Vis en brugervenlig meddelelse
                });
    });
  });

</script>
</body>
</html>
